.list {
}

.list.ng-enter {
  opacity: 0;
  transition: .1s linear all;
}

.list.ng-enter.ng-enter-active {
  opacity: 1;
}

.list.ng-leave {
  opacity: 1;
  transition: .1s linear all;
}

.list.ng-leave.ng-leave-active {
  opacity: 0;
}

.list.ng-enter-stagger,
.list.ng-leave-stagger {
  /* Задержка анимации */
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
 
  /* Эта часть нужна, чтобы анимация проходила без проблем */
  -webkit-transition-duration:0;
  transition-duration:0;
}

.col-xs-3 a{
  text-decoration: none;
  color: #fff;
}

.text15{
  font-size: 15px;
}

.enter{
	margin-top: 10px;
}

.content{
  display: flex;
  flex-direction: row;
}

.chat{
  width: 70%;
  height: 550px;
  background: #3d3d3d;
  margin-left: 50px;
  margin-right: 50px;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.left_side{
  width: 15%;
}

.right_side{
  width: 15%;
}

.menu a{
  background: #3d3d3d;
  color: #fff;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #666;
}

.menu a:hover{
  text-decoration: none;
  background: #666;
}

.named a{
  background: #79a78a;
  color: #fff;
  padding: 5px;
  display: block;
  border-bottom: 1px solid #666;
}
