.list {
}

.list.ng-enter {
  display: none;
  transition: .05s linear all;
}

.list.ng-enter.ng-enter-active {
  display: block;
}

.list.ng-leave {
  display: block;
  transition: .05s linear all;
}

.list.ng-leave.ng-leave-active {
  display: none;
}

.list.ng-enter-stagger,
.list.ng-leave-stagger {
  -webkit-transition-delay: .05s;
  transition-delay: .05s;

  -webkit-transition-duration: .01;
  transition-duration:0.01;
}



.col-xs-2 a, .col-xs-3 a{
  text-decoration: none;
  color: #fff;
}

.text15{
  font-size: 15px;
}

.enter{
	margin-top: 10px;
}

.navigation{
	cursor: pointer;
}

.navigation:hover{
	color: #000;
}

.content{
  display: flex;
  flex-direction: row;
}

.chat{
  width: 70%;
  height: 550px;
  background: #3d3d3d;
  margin-left: 50px;
  margin-right: 50px;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.left_side{
  width: 15%;
}

.right_side{
  width: 15%;
}

.menu a{
  background: #3d3d3d;
  color: #fff;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #666;
  cursor: pointer;
}

.menu a:hover{
  text-decoration: none;
  background: #666;
}

.named a{
  background: #36BBCE;
  color: #fff;
  padding: 5px;
  display: block;
  border-bottom: 1px solid #666;
}
