<!DOCTYPE html>
<html ng-app="vpoliteve">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Вход</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	  <link type="text/css" rel="stylesheet"  href="public/style/style.css" />
	  <link rel="icon" href="public/img/logoNew.png" type="images/x-icon"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="public/script/loginController.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  </head>
  <body>
  	<div class="row">
  	  <div class="col-xs-1"><a href="#"><img class="image" src="public/img/logoNew.png" width="120px"></a></div>
  	  <div class="col-xs-9 white text26 enter"><span class="VPOLITEHE1">VPOLITEHE</span><span class="VPOLITEHE2">- удобный мессенджер для общения  студентов и преподователей</span></div>
  	  <div class="col-xs-2 white text24 enter"><a id="a1" class="white enter" href="/">Регистрация</a></div>
  	</div>
    <h2 class="register">Вход</h2>
    <div id="content">
      <form id="userForms" name="userForm" ng-controller="loginController">
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" name="email" ng-model="user.email" placeholder="test@gmail.com" ng-change="validateComments1(this)"/>
        </div>

        <div class="form-group">
          <label for="password">Пароль:</label>
          <input type="password" class="form-control" name="password" ng-model="user.password" ng-change="validateComments5(this)"/>
        </div>
        <div class="panel-body">
          <button ng-click="login(user)" class="btn btn-sm btn-primary">Войти</button>
        </div>
      </form>

      <div class="continent">
        <ul>
            <li><span class="descr"><h1>Скорость</h1><h3>Мгновенная передача сообщений до преподавателя</h3></span><img src="public/img/speed.svg" alt="Alt">
            </li>
            <li><span class="descr"><h1>Простота</h1><h3>Простой и понятный интерфейс необходим для каждого</h3></span><img src="public/img/smartphone.svg" alt="Alt">
                </li>
            <li><span class="descr"><h1>Первый...</h1><h3>Образовательный мессенджер для коммуникации между преподавателем и студентом</h3></span><img src="public/img/students-cap.svg" alt="Alt"></li>
            <li><span class="descr"><h1>Удобство</h1><h3>Все самое необходимое для общения</h3></span><img src="public/img/comfort.svg" alt="Alt">
                </li>
          </ul>
    </div>
    </div>
    <footer class="footerStyle">
  	 <div class="row">
  			  <br><span>Команда разработчиков:</span><br>
  			  <a href="https://vk.com/id141308375" class="linkdevelopers white">Смирнов Владислав</a>
  			  <a href="https://vk.com/honor_nobility_courage" class="linkdevelopers white">Кудряшова Ксения</a>
  			  <a href="https://vk.com/7l0reks" class="linkdevelopers white">Соболев Вадим</a>
  			  <a href="https://vk.com/id133451803" class="linkdevelopers white">Алексеев Илья</a>
  			  <a href="https://vk.com/ann_dolganova" class="linkdevelopers white">Долганова Анна</a>
  			  <a href="https://vk.com/id126576135" class="linkdevelopers white">Истомин Илья</a>
  		 <div class="white footername">VUNIVERE © 2017. All rights reserve.</div>
       </div>
  	</footer>
  </body>
</html>
